.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: #da4d3e;
}

.dialog a {
    color: #495f9d;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    padding-top: 5px;
}